// extrernal import
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./style/variables";

*,
** {
  padding: $size-0;
  margin: $size-0;
}

.navbar {
  background-color: $color-navbar;
  color: $color-white;

  a.link {
    &:nth-child(1) {
      margin-right: $size-2x;
    }

    &:hover {
      border-bottom: 1px solid;
      cursor: pointer;
    }
  }

  .navbar-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    select {
      height: 1.3rem;
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-white;
      border-radius: $size-0;
      padding: $size-0;
      font-size: $font-size-small;
      max-width: 100px;
    }
  }
}

.config-wrapper {
  min-height: 200px;
  padding: $size-2x;
  background-color: $colo-light-grey;
  transition: all 0.5s ease-in-out;

  .form-group {
    display: flex;

    label {
      height: $size-1x;
      padding: $size-0;
      margin: $size-0;
    }

    input {
      height: 1.3rem;
      border-radius: $size-0;

      &:focus {
        box-shadow: none;
        outline: none;
        border-color: $colo-light-grey;
      }
    }

    select {
      height: 1.3rem;
      border-radius: $size-0;
      padding: $size-0;
      font-size: $font-size-small;
    }
  }

  .buttons-wrapper {
    text-align: center;
  }
}

.container {
  margin-top: $size-2x;
}

.game-page {
  .title-wrapper {
    display: flex;
    padding: $size-1x $size-0;

    &__text {
      color: $title-color;
      font-size: $title-size;
      font-weight: $title-weight;
      font-style: $title-style;
      text-decoration: $title-decoration;
    }

    .badge {
      margin-left: 0.5rem;
      height: 1.2rem;
      background-color: $color-badge;
      color: $color-white;
    }
  }

  .info {
    color: $info-color;
    font-size: $info-size;
    font-weight: $info-weight;
    font-style: $info-style;
    text-decoration: $info-decoration;
  }

  .body {
    color: $body-color;
    font-size: $body-size;
    font-weight: $body-weight;
    font-style: $body-style;
    text-decoration: $body-decoration;
  }
}

.btn {
  height: $size-2x;
  line-height: $size-1x;
  width: 100px;
  margin: $size-0 $size-1x;

  &.btn-primary {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:active {
      background-color: darken($color-primary, 5%) !important;
      border-color: darken($color-primary, 5%) !important;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

// remove spinners from input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="color"] {
  padding: 0;
  margin: 0;
}

.info-icon {
  margin-left: 0.2rem;
  color: darken($colo-light-grey, 20%);
  font-size: $font-size-small;
  vertical-align: top;
}
